.popup__container {
  max-width: 430px;
  min-width: 282px;
  width: 100%;
  background: #FFF;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

@media screen and (max-width:660px) {
  .popup__container {
    max-width: 282px;
  }
}
