.popup__submit-button {
    width: 100%;
    background-color: #000;
    border: none;
    border-radius: 2px;
    min-height: 50px;
    margin: 0 0 37px 0;
    text-align: center;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
    transition: opacity 1s ease;
}

@media screen and (max-width:660px) {
    .popup__submit-button {
        font-size: 14px;
        line-height: 17px;
    }
}

.popup__submit-button:hover {
    opacity: .8;
}

.popup__submit-button:disabled {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.2);
    cursor: not-allowed;
}