.profile__edit-button {
  min-width: 24px;
  max-width: 24px;
  min-height: 24px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  background-color: #000;
  margin: 37px 15px 0 0;
  display: flex;
  align-items: center;
  align-self: flex-start;
  padding: 0;
  justify-content: center;
  cursor: pointer;
  transition: opacity 1s ease;
}
@media screen and (max-width:710px) {
  .profile__edit-button {
    margin: 34px 15px 0 0;
  }
}

@media screen and (max-width:660px) {
  .profile__edit-button {
    margin: 20px 0 0 10px;
    min-height: 18px;
    min-width: 18px;

    grid-area: edit-button;
  }
}

@media screen and (max-width:400px) {
  .profile__edit-button {
    margin: 12px 0 0 -30px;
    max-width: 18px;
  }
}
.profile__edit-button:hover {
  opacity: .6;
}

/*добавил свойства позицинионирования для кнопки в виде флекса, чтобы изображение внутри было по центру, и маржин от имени*/
