@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__description/profile__description.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__like-button/element__like-button.css);
@import url(../blocks/element/__like-button/_active/element__like-button_active.css);
@import url(../blocks/element/__flex-content/element__flex-content.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/profile/__edit-button-image/profile__edit-button-image.css);
@import url(../blocks/profile/__add-button-image/profile__add-button-image.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/popup/__heading/popup__heading.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__fieldset/popup__fieldset.css);
@import url(../blocks/popup/__field/popup__field.css);
@import url(../blocks/popup/__field/_type/popup__field_type_error.css);
@import url(../blocks/popup/__input-error/_active/popup__input-error_active.css);
@import url(../blocks/popup/__input-container/popup__input-container.css);
@import url(../blocks/popup/__submit-button/popup__submit-button.css);
@import url(../blocks/element/__delete-button/element__delete-button.css);
@import url(../blocks/popup/__container-photo/popup__container-photo.css);
@import url(../blocks/popup/__image/popup__image.css);
@import url(../blocks/popup/__caption/popup__caption.css);