.profile__name {
  color: #FFF;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 114%;
  max-width: 336px;
  margin: 0 0 16px 0;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width:700px) {
  .profile__name {
    font-size: 40px;
    line-height: 112%;
    text-align: center;
  }
}

@media screen and (max-width:400px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
  }
}

/*добавил дополнительный брейкпоинт для уменьшения текста, так смотрится аккуратнее*/
