.profile__avatar {
    border-radius: 50%;
    margin: 0 30px 0 0;
    max-width: 150px;
    position: relative;
}

@media screen and (max-width:710px) {
    .profile__avatar {
        margin: 0 12px 0 0;
    }
}

@media screen and (max-width:660px) {
    .profile__avatar {
        margin: 0;
        grid-area: avatar;
        justify-self: center;
    }
}


/*на 700 уменьшил отступ, чтобы все поместилось до точки перелома на 660, иначе возникает горизонтальный скролл*/