.profile__description {
  color: #FFF;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  max-width: 294px;
  margin: 0;
}

@media screen and (max-width:660px) {
  .profile__description {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
}

@media screen and (max-width:400px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
  }
}

/*добавил дополнительный брейкпоинт и уменьшил текст, так выглядит аккуратнее*/
