.popup__close-button {
  background-image: url("/images/close.svg");
  background-position: center;
  background-color: transparent;
  background-size: cover;
  object-fit: cover;
  position: absolute;
  top: -38px;
  right: -38px;
  border: 0;
  min-width: 32px;
  min-height: 32px;
  cursor: pointer;
  transition: opacity 1s ease;
}

@media screen and (max-width:660px) {
  .popup__close-button {
    min-width: 20px;
    min-height: 20px;
    top: -38px;
    right: 0;
  }
}

.popup__close-button:hover {
  opacity: .6;
}
