.header {
  max-width: 880px;
  width: 92.5%;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  margin: 0 auto;
}

@media screen and (max-width:660px) {
  .header {
    width: 88.125%;
  }
}

/*ширина в процентах высчитана по фигме, чтобы блок находился по центру экрана и был резиновым*/
