.element__title {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  max-width: 80%;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/*чтобы текст не вылазил за блок, добавил необходимые свойства, как в ТЗ*/
