.popup {
    display: flex;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    background-color: rgba(0, 0, 0, .5);
    visibility: hidden;
    transition: all .3s linear;
}