.popup__field {
    width: 100%;
    padding: 0 0 13px 0;
    margin: 0 0 30px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000;
}

.popup__field:last-of-type {
    margin: 0 0 48px 0;
}

@media screen and (max-width:660px) {
    .popup__field:last-of-type {
        margin: 0 0 45px 0;
    }
}